#cabecera{
    text-align: center;
    text-decoration: underline;
    font-size: large;
    color: darkred;
}

#fotomia1{
    display:block;
    margin-left: auto;
    margin-right: auto;
}

.subtitulosbiografia{
    text-align: center;
    text-decoration: underline;
}

p{
    text-align: center;
}